/** old style **/
.row > .col {
    float: left;
    padding: 2px;
    border: 1px solid #222;
}
.row > .col:lang {
    float: left;
    clear: both;
}
.row, .row:after {
    clear: both;
}

.row > .col > input {
    width: 10px;
    margin: 0px;
    border: 0px;
    padding: 2px;
}
/** new style **/


#container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#header > div {
    width: 33%;
    float: left;
}

#logo {
    text-align: center;
}


#login-container {
    width: 90%;
    margin: auto;
}

ul.errors {
    list-style-type: none;
    color: #f00;
    font-weight: bold;
    padding-left: 0px;
}

@media (min-width: 769px) {
    #login-container > div {
        width: 33%;
        float: left;
    }
}

@media (max-width: 768px) {
    #login-container > div {
        width: 100%;
    }
}
